
server:
  port: 8070
spring:
  datasource:
    url: jdbc:mysql://127.0.0.1:3306/blog?useUnicode=true&characterEncoding=utf8&serverTimezone=UTC
    username: root
    password: 123456
    driver-class-name: com.mysql.cj.jdbc.Driver
    type: com.alibaba.druid.pool.DruidDataSource
    #redis 配置
  redis:
    # 地址
    host: localhost
    # 端口，默认为6379
    port: 6379
    # 密码
    password:
    # 连接超时时间
    timeout: 10s
    lettuce:
      pool:
        # 连接池中的最小空闲连接
        min-idle: 0
        # 连接池中的最大空闲连接
        max-idle: 8
        # 连接池的最大数据库连接数
        max-active: 8
        # #连接池最大阻塞等待时间（使用负值表示没有限制）
        max-wait: -1ms
# mybatis配置
mybatis:
  mapper-locations: classpath:mapper/**/*.xml    # mapper映射文件位置
  type-aliases-package: com.zch.**.entity    # 实体类所在的位置
  config-location: classpath:mybatis-config.xml


# jwt配置
token:
  secret: zhencghunhao
  expiration: 30
  header: Authorization

upload:
  path : D://blog/

